<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="formulas"
         name="Formulas Team"
         point="pa.iscde.team">
      <member
            name="Gonçalo Horta"
            photo="gonçalo.jpg"
            user="gmsha">
      </member>
      <member
            name="Tiago Saraiva"
            photo="tiago.jpg"
            user="tmsas">
      </member>
   </extension>
   <extension
         id="formulas"
         name="Formulas"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.formulas.view.FormulasView"
            icon="mathfunction.gif">
      </view>
   </extension>
   <extension
         id="calc"
         name="Calculadora"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.Calculator"
            description="Calculator for equations"
            hasState="true"
            icon="calculator.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         id="drawEq"
         name="Draw Equations"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.DrawEquations"
            description="Draw Mathematical Equations"
            hasState="true"
            icon="draw.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         id="id1"
         name="name"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.AddFormula"
            description="Add new formulas"
            hasState="false"
            icon="newformula.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>

</plugin>
