<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="createformula" name="Create Formula" schema="schema/createformula.exsd"/>
   <extension
         id="formulas"
         name="Formulas Team"
         point="pa.iscde.team">
      <member
            name="Gonçalo Horta"
            photo="gonçalo.jpg"
            user="gmsha">
      </member>
      <member
            name="Tiago Saraiva"
            photo="tiago.jpg"
            user="tmsas">
      </member>
   </extension>
   <extension
         id="formulas"
         name="Formulas"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.formulas.view.FormulasView"
            icon="mathfunction.gif">
      </view>
   </extension>
   <extension
         id="addformula"
         name="Add New Formula"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.AddFormula"
            description="Add new formulas"
            hasState="false"
            icon="newformula.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         id="calc"
         name="Calculadora"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.Calculator"
            description="Calculator for equations"
            hasState="true"
            icon="calculator.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         id="drawEq"
         name="Draw Equations"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.DrawEquations"
            description="Draw Mathematical Equations"
            hasState="false"
            icon="draw.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         point="pa.iscde.formulas.createformula">
      <NewFormula
            category="Basics"
            inputs="Inputs"
            method="Method"
            name="Name"
            result="Result">
      </NewFormula>
   </extension> 

</plugin>
