<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="createformula" name="Create Formula" schema="schema/createformula.exsd"/>
   <extension-point id="createcategory" name="Create Category" schema="schema/createcategory.exsd"/>
   <extension-point id="newEquationToDraw" name="NewEquationToDraw" schema="schema/newEquationToDraw.exsd"/>
   <extension
         id="formulas"
         name="Formulas Team"
         point="pa.iscde.team">
      <member
            name="Gonçalo Horta"
            photo="gonçalo.jpg"
            user="gmsha">
      </member>
      <member
            name="Tiago Saraiva"
            photo="tiago.jpg"
            user="tmsas">
      </member>
   </extension>
   <extension
         id="formulas"
         name="Formulas"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.formulas.view.FormulasView"
            icon="mathfunction.gif">
      </view>
   </extension>
   <extension
         id="addformula"
         name="Add New Formula"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.AddFormula"
            description="Add new formulas"
            hasState="false"
            icon="newformula.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         id="calc"
         name="Calculadora"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.Calculator"
            description="Calculator for equations"
            hasState="true"
            icon="calculator.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         id="drawEq"
         name="Draw Equations"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.formulas.tools.DrawEquations"
            description="Draw Mathematical Equations"
            hasState="false"
            icon="draw.gif"
            view="pa.iscde.formulas.formulas">
      </tool>
   </extension>
   <extension
         point="pa.iscde.formulas.createcategory">
      <AddCategory
            Name="Exemple">
      </AddCategory>
   </extension>
   <extension
         name="Formulas"
         point="pa.iscde.formulas.createformula">
      <NewFormula
            Category="Basics"
            addformula="pa.iscde.formulas.basics.QuadraticFormula"
            formula_method="formulas/Quadratic.txt">
      </NewFormula>
      <NewFormula
            Category="Basics"
            addformula="pa.iscde.formulas.basics.Areas"
            formula_method="formulas/Areas.txt">
      </NewFormula>
      <NewFormula
            Category="Basics"
            addformula="pa.iscde.formulas.basics.PythagoreanTheorem"
            formula_method="formulas/PythagoreanTheorem.txt">
      </NewFormula>
      <NewFormula
            Category="Engineering"
            addformula="pa.iscde.formulas.engineering.DecibelConverter"
            formula_method="formulas/DecibelConverter.txt">
      </NewFormula>
      <NewFormula
            Category="Engineering"
            addformula="pa.iscde.formulas.engineering.ElectronicsFormulas"
            formula_method="formulas/ElectronicFormulas.txt">
      </NewFormula>
      <NewFormula
            Category="Engineering"
            addformula="pa.iscde.formulas.engineering.FriisFormula"
            formula_method="formulas/FriisFormula.txt">
      </NewFormula>
      <NewFormula
            Category="Engineering"
            addformula="pa.iscde.formulas.engineering.MovementEquations"
            formula_method="formulas/MovementEquations.txt">
      </NewFormula>
      <NewFormula
            Category="Finance"
            addformula="pa.iscde.formulas.finance.NumberOfPayments"
            formula_method="formulas/NumberOfPayments.txt">
      </NewFormula>
      <NewFormula
            Category="Finance"
            addformula="pa.iscde.formulas.finance.PresentValue"
            formula_method="formulas/PresentValue.txt">
      </NewFormula>
      <NewFormula
            Category="Finance"
            addformula="pa.iscde.formulas.finance.VALCalculation"
            formula_method="formulas/VALCalculation.txt">
      </NewFormula>
      <NewFormula
            Category="Statistic"
            addformula="pa.iscde.formulas.statistic.Mean"
            formula_method="formulas/Mean.txt">
      </NewFormula>
      <NewFormula
            Category="Statistic"
            addformula="pa.iscde.formulas.statistic.Median"
            formula_method="formulas/Median.txt">
      </NewFormula>
      <NewFormula
            Category="Statistic"
            addformula="pa.iscde.formulas.statistic.StandardDeviation"
            formula_method="formulas/StandardDeviation.txt">
      </NewFormula>
      <NewFormula
            Category="Statistic"
            addformula="pa.iscde.formulas.statistic.Variance"
            formula_method="formulas/Variance.txt">
      </NewFormula>
      <NewFormula
            Category="Basics"
            addformula="pa.iscde.formulas.basics.Volumes"
            formula_method="formulas/Volumes.txt">
      </NewFormula>
      <NewFormula
            Category="Basics"
            addformula="pa.iscde.formulas.basics.TrigonometricFormula"
            formula_method="formulas/Trignometric.txt">
      </NewFormula>
   </extension> 

</plugin>
