<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customLayoutProvider" name="Custom Layout" schema="schema/CustomLayoutProvider.exsd"/>
   <extension-point id="exportAsProvider" name="Export CallGraph" schema="schema/exportAsProvider.exsd"/>
   <extension
         id="pa.iscde.callgraph"
         name="callgraph"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.callgraph.CallGraphView">
      </view>
   </extension>
   <extension
         id="pa.iscde.callgraph"
         name="CallGraph"
         point="pa.iscde.team">
            <member
            name="Pedro Neves"
            photo="pedroneves.jpg"
            quote="Swag."
            user="pfnsa">
      </member>
      <member
            name="João Alves"
            photo="joaoalves.jpg"
            quote="Lida."
            user="jppas">
      </member>
   </extension>

</plugin>
