<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="category" name="Task Category" schema="schema/category.exsd"/>
   <extension-point id="category_action" name="Category Action" schema="schema/category_action.exsd"/>
   <extension
         id="taskList"
         name="TL"
         point="pa.iscde.team">
      <member
            name="João Paulino"
            user="jmmpo11">
      </member>
      <member
            name="Filipe Martins"
            user="fafms">
      </member>
   </extension>
   <extension
         id="myview"
         name="Task View"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.tasklist.TaskView">
      </view>
   </extension>
   <extension
         point="pa.iscde.tasklist.category">
      <category
            color="173,216,230"
            name="Todo"
            tag="TODO">
      </category>
   </extension>
   <extension
         point="pa.iscde.tasklist.category_action">
      <category_action
            actionClass="pa.iscde.tasklist.extensibility.OpenFile"
            categories="TODO"
            name="Open File">
      </category_action>
   </extension>

</plugin>
