<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="snippetssearch"
         name="Snippets Search"
         point="pa.iscde.filtersearch.SearchProvider">
      <SearchProvider
            SearchProvider="pa.iscde.snippets.extensions.SnippetsSearchProvider"
            iconName="lemon.png">
      </SearchProvider>
   </extension>
   <extension
         point="pa.iscde.commands.command">
      <command_view
            alt_key="false"
            command_implementation="pa.iscde.snippets.extensions.CommandFilterToJava"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Filter Java Classes"
            key="J"
            name="Filter Java Classes">
      </command_view>
   </extension>
</plugin>
