<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="conventions.vhssa"
         name="Conventions vhssa"
         point="pa.iscde.team">
      <member
            name="Vitor Sousa"
            user="vhssa">
      </member>
   </extension>
   <extension
         point="pa.iscde.dropcode.dropbutton">
      <dropbutton
            class="pa.iscde.conventions.vhssa.DeleteButton">
      </dropbutton>
   </extension>

</plugin>
