<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="snippetsCommands"
         name="Snippets Shortcuts"
         point="pa.iscde.commands.command">
      <command_view
            alt_key="false"
            command_implementation="pa.iscde.snippets.extensions.CommandFilterToJava"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Filter Snippets by Java language, only works if &quot;Java&quot; directory exists within the Snippets folder"
            key="J"
            name="Filter Java Classes">
      </command_view>
            <command_editor
            alt_key="true"
            command_implementation="pa.iscde.snippets.extensions.CommandCreateNewSnippet"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Access the New Snippet View With Currently Selected Text to Create a New Snippet, only works from editor"
            key="N"
            name="Create New Snippet In Editor">
      </command_editor>
             <command_view
            alt_key="true"
            command_implementation="pa.iscde.snippets.extensions.CommandCreateNewSnippet"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Access the New Snippet View With Currently Selected Text to Create a New Snippet, only works from Snippet Explorer View"
            key="N"
            name="Create New Snippet In Snippet View">
      </command_view>
      <command_view
            alt_key="false"
            command_implementation="pa.iscde.snippets.extensions.CommandSaveCurrentSnippet"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Save the current snippet"
            key="S"
            name="Save Current Snippet">
      </command_view>
      <command_view
            alt_key="false"
            command_implementation="pa.iscde.snippets.extensions.CommandDiscardSnippet"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Discard the current snippet"
            key="d"
            name="Discard Current Snippet">
      </command_view>
       <command_view
            alt_key="true"
            command_implementation="pa.iscde.snippets.extensions.CommandUseCurrentSnippet"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Use the current snippet, only works on the &quot;Snippet Code&quot; view"
            key="e"
            name="Use Current Snippet">
      </command_view>
            <command_view
            alt_key="false"
            command_implementation="pa.iscde.snippets.extensions.CommandFilterToUnknown"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Filter Snippets by Unknown language, only works if &quot;Java&quot; directory exists within the Snippets folder"
            key="U"
            name="Filter Unknown Classes">
      </command_view>
      <command_view
            alt_key="false"
            command_implementation="pa.iscde.snippets.extensions.CommandFilterToAll"
            context_view="pa.iscde.snippets.snippets"
            ctrl_key="true"
            description="Filter Snippets by All languages, only works on the Snippet Explorer View"
            key="A"
            name="Filter All Classes">
      </command_view>
   </extension>
</plugin>
