<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pa.iscde.snippets.contextdefinition">
      <member
            definition="pa.iscde.dropcode.ajlfs.ConditionalExpression">
      </member>
   </extension>
   <extension
         point="pa.iscde.dropcode.dropbutton">
      <dropbutton
            class="pa.iscde.dropcode.ajlfs.ShowSnippet">
      </dropbutton>
   </extension>

</plugin>
