<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="HexagonAreaID"
         name="Hexagon Area"
         point="pa.iscde.formulas.createformula">
      <NewFormula
            Category="Basics"
            addformula="pa.iscde.dropcode.ajlfs.HexagonArea"
            formula_method="TrapezoidAreaMethod.txt">
      </NewFormula>
   </extension>

</plugin>
