<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Convetions"
         name="Code Coventions"
         point="pa.iscde.team">
      <member
            name="Vítor Sousa"
            user="vhssa">
      </member>
      <member
            name="Pedro Cananão"
            user="pjdcp">
      </member>
   </extension>
   <extension
         id="CodeConventions"
         name="Code Convetions View"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.conventions.ConventionsView"
            icon="exc_catch.gif">
      </view>
   </extension>

</plugin>
