<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tags" name="JavaDoc tags" schema="schema/tags.exsd"/>
   <extension-point id="exports" name="JavaDoc Exports" schema="schema/exports.exsd"/>
   <extension
         id="docTeam"
         name="Programador"
         point="pa.iscde.team">
      <member
            name="David Franco"
            photo="DavidFranco.jpg"
            quote="&quot;First, solve the problem. Then, write the code.&quot; (by John Johnson)"
            user="dgfoa">
      </member>
      <member
            name="João Gonçalves"
            user="jbdqg">
      </member>
   </extension>
   <extension
         id="docView"
         name="Documentation View"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.documentation.view.DocumentationView"
            icon="DocumentationIcon.gif">
      </view>
   </extension>
   <extension
         id="tags"
         name="Tags"
         point="pa.iscde.documentation.tags">
      <tag
            name="version"
            provider="pa.iscde.documentation.extension.example.VersionTag">
      </tag>
   </extension>
   <extension
         id="exports"
         name="Exports"
         point="pa.iscde.documentation.exports">
      <exportTo
            name="HTML"
            provider="pa.iscde.documentation.extension.example.ExportToHTML">
      </exportTo>
   </extension>

</plugin>
