<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="propertyProvider" name="Property Provider" schema="schema/propertyProvider.exsd"/>
   <extension
         id="idConfigurator"
         name="Configurator"
         point="pa.iscde.team">
          <member
            name="João Medeiros"
            quote="38094"
            user="jdgms">
      </member>
      <member
            name="Luís Dias"
            quote="54416"
            user="ljgds">
      </member>
   </extension>
   <extension
         id="configurator"
         name="configurator"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.configurator.view.ConfiguratorView">
      </view>
   </extension>
   <extension
         point="pa.iscde.configurator.propertyProvider">
      <provider
            class="pa.iscde.configurator.model.interfaces.PropertyProviderImpl">
         <view
               id="pt.iscte.pidesco.projectbrowser">
         </view>
      </provider>
   </extension>

</plugin>
