<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         name="Snippets"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.snippets.SnippetsView">
      </view>
   </extension>
   <extension
         id="1"
         name="Diogo Pedroso - Rui Madeira"
         point="pa.iscde.team">
   </extension>

</plugin>
