<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="createnewsnippet" name="Create New Snippet" schema="schema/createnewsnippet.exsd"/>
   <extension-point id="contextdefinition" name="Context Definition" schema="schema/contextdefinition.exsd"/>
   <extension
         id="snippets"
         name="Lemony Snippets"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.snippets.gui.SnippetsView"
            icon="lemon.png">
      </view>
   </extension>
   <extension
         id="snippets"
         name="Snippets"
         point="pa.iscde.team"
>
      <member
            name="Diogo Pedroso"
            photo="unknown.png"
            quote="&quot;Sugar Honey Iced Tea &quot; (by: Unknown)"
            user="dbipo">
      </member>
      <member
            name="Rui Madeira"
            photo="unknown.png"
            quote="&quot;NÃÃÃOOOoooo... &quot; (by: Rui Madeira)"
            user="rnnma">
      </member>
   </extension>
   <extension
         point="pa.iscde.snippets.contextdefinition">
      <member
            definition="contextdefinitiontests.AppendTextInsideProcedure">
      </member>
      <member
            definition="contextdefinitiontests.formOutsideClass">
      </member>
      <member
            definition="contextdefinitiontests.ScreenshotMustJava">
      </member>
      <member
            definition="contextdefinitiontests.DirectoryListingOverlyComplex">
      </member>
   </extension>
</plugin>
