<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="createnewsnippet" name="Create New Snippet" schema="schema/createnewsnippet.exsd"/>
   <extension-point id="contextdefinition" name="Context Definition" schema="schema/contextdefinition.exsd"/>
   <extension
         id="snippets"
         name="Lemony Snippets"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.snippets.gui.SnippetsView"
            icon="lemon.png">
      </view>
   </extension>
   <extension
         id="snippets"
         name="Snippets"
         point="pa.iscde.team"
>
      <member
            name="Diogo Pedroso"
            photo="unknown.png"
            quote="&quot;Sugar Honey Iced Tea &quot; (by: Unknown)"
            user="dbipo">
      </member>
      <member
            name="Rui Madeira"
            photo="unknown.png"
            quote="&quot;NÃÃÃOOOoooo... &quot; (by: Rui Madeira)"
            user="rnnma">
      </member>
   </extension>
   <extension
         point="pa.iscde.snippets.contextdefinition">
      <member
            definition="contextdefinitiontests.AppendTextInsideProcedure">
      </member>
      <member
            definition="contextdefinitiontests.formOutsideClass">
      </member>
      <member
            definition="contextdefinitiontests.ScreenshotMustJava">
      </member>
      <member
            definition="contextdefinitiontests.DirectoryListingOverlyComplex">
      </member>
   </extension>
   <extension
         id="snippetssearch"
         name="Snippets Search"
         point="pa.iscde.filtersearch.SearchProvider">
      <SearchProvider
            SearchProvider="pa.iscde.snippets.extensions.SnippetsSearchProvider"
            className="pa.iscde.snippets.SearchProvider1"
            iconName="pa.iscde.snippets.SearchProvider1">
      </SearchProvider>
   </extension>
   <extension
         point="pa.iscde.commands.command">
      <command_editor
            alt_key="true"
            command_implementation="pa.iscde.snippets.extensions.Command1"
            ctrl_key="true"
            description="pa.iscde.snippets.command_editor1"
            key="u"
            name="pa.iscde.snippets.command_editor1">
      </command_editor>
   </extension>
</plugin>
