<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SearchProvider" name="Search Provider" schema="schema/SearchProvider.exsd"/>
   <extension
         id="id1"         
         name="Filter Search"
         point="pa.iscde.team">
      <member
            name="Luis Murilhas"
            photo="murilhas.png"
            quote="33515"
            user="lcmms">
      </member>
      <member
            name="David Almas"
            photo="almas.png"
            quote="33524"
            user="debas">
      </member>
   </extension>
   <extension
         id="searchtool"
         name="Search Tool"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.filtersearch.view.SearchView"
            icon="searchtool.gif">
      </view>
   </extension>
   <extension
         point="pa.iscde.filtersearch.SearchProvider">
      <SearchProvider
            SearchProvider="pa.iscde.filtersearch.view.ProjectBrowserSearchProvider"
            className="pa.iscde.filtersearch.view.ProjectBrowserSearchProvider"
            iconName="searchtool.gif">
      </SearchProvider>
   </extension>
</plugin>
