<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customIcon" name="Custom Icon" schema="schema/customIcon.exsd"/>
   <extension-point id="buttonFilter" name="Button Filter" schema="schema/buttonFilter.exsd"/>
   <extension
         id="OsMelhoresParaSempre"
         name="Os Melhores Mesmo"
         point="pa.iscde.team">
      <member
            name="Jorge Calado"
            quote="Coiso Coiso"
            user="jmpsc">
      <member
            name="Pedro Sousa"
            quote="Coiso Coiso"
            user="pdcsa">
      </member>
   </extension>
   <extension
         id="AMinhaVista"
         name="Outline"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.outline.view.OutlineView">
      </view>
   </extension>
   <extension
         name="Button Filter"
         point="pa.iscde.outline.buttonFilter">
   </extension>
   <extension
         name="Custom Icon"
         point="pa.iscde.outline.customIcon">
   </extension>

</plugin>
