<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         name="name"
         point="pa.iscde.team">
   </extension>
   <extension
         id="id"
         name="Caracteres"
         point="pa.iscde.conventions.conventionservice">
      <conventionservice
            ConventionName="CaracteresEspeciais"
            Type="METHOD"
            class="pa.iscde.formulas.gmsha.ConventionService2">
      </conventionservice>
   </extension>
</plugin>
