<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pa.iscde.filtersearch.SearchProvider">
      <SearchProvider
            SearchProvider="pa.iscde.documentation.jbdqg.DocumentationFilterSearch"
            iconName="javadoc.gif">
      </SearchProvider>
   </extension>

</plugin>
