<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="pa.iscde.commands.command" name="Command" schema="schema/Command.exsd"/>
   <extension-point id="pa.iscde.commands.action" name="Action" schema="schema/Action.exsd"/>
   <extension
         id="ActionNewCommand"
         name="ActionNewCommand"
         point="pa.iscde.commands.action">
      <action
            class="pa.iscde.commands.features.actions.NewCommand"
            label="New">
      </action>
   </extension>
   <extension
         id="ActionDeleteCommand"
         name="ActionDeleteCommand"
         point="pa.iscde.commands.action">
      <action
            class="pa.iscde.commands.features.actions.DeleteCommand"
            label="Delete">
      </action>
   </extension>
   <extension
         id="ActionEditCommand"
         name="ActionEditCommand"
         point="pa.iscde.commands.action">
      <action
            class="pa.iscde.commands.features.actions.EditCommad"
            label="Edit">
      </action>
   </extension>
   <extension
         id="ActionCombineCommand"
         name="ActionCombineCommand"
         point="pa.iscde.commands.action">
      <action
            class="pa.iscde.commands.features.actions.CombineCommands"
            label="Combine">
      </action>
   </extension>
   <extension
         id="TeamCommands"
         name="Commands"
         point="pa.iscde.team">
      <member
            name="Fábio Martins"
            user="farms">
      </member>
      <member
            name="Tiago Martins"
            user="trvms">
      </member>
   </extension>
   <extension
         id="CommandsView"
         name="Commands"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.commands.external.services.CommandView">
      </view>
   </extension>
   <extension
         point="pa.iscde.commands.command">
      <command
            alt_key="false"
            command_implementation="pa.iscde.commands.features.comments.CommentFeature"
            context_view="pa.iscde.teams"
            ctrl_key="true"
            description="O comentário das teams é lindo"
            key="t"
            name="teste2">
      </command>
      <command
            alt_key="true"
            command_implementation="pa.iscde.commands.features.comments.CommentFeature"
            context_view="pt.iscte.pidesco.projectbrowser.tree"
            ctrl_key="true"
            description="No proximo nao vou meter nada!"
            key="B"
            name="teste">
      </command>
      <command
            alt_key="true"
            command_implementation="pa.iscde.commands.features.comments.CommentFeature"
            context_view="pa.iscde.teams"
            ctrl_key="true"
            key="X"
            name="teste3">
      </command>
   </extension>
   <extension
         point="pa.iscde.commands.command">
      <command
            alt_key="true"
            command_implementation="pa.iscde.commands.features.comments.CommentFeature"
            context_view="pa.iscde.commands.CommandsView"
            ctrl_key="false"
            key="C"
            name="pa.iscde.commands.command5">
      </command>
   </extension>

</plugin>
