<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="trystatementrule" name="Try Stament rule" schema="schema/trystatementrule.exsd"/>
   <extension-point id="variabledeclarationrule" name="Variable Declaration Rules" schema="schema/variabledeclarationrule.exsd"/>
   <extension
         id="StyleChecker"
         name="StyleChecker"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.stylechecker.internal.StyleCheckerView"
            icon="stylechecker_icon.gif">
      </view>
   </extension>
</plugin>
