<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="createMetric" name="CreateMetric" schema="schema/pa.iscde.metrics.createMetric.exsd"/>
   <extension
         id="metrics"
         name="metrics"
         point="pa.iscde.team">
      <member
            name="luisa"
            user="mlcst">
      </member>
   </extension>
   <extension
         id="pa.iscde.metrics"
         name="Metrics"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.metrics.internal.MetricsView">
      </view>
   </extension>
   <extension
         id="pa.iscde.metrics.refreshTool"
         name="Refresh"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.metrics.internal.RefreshTool"
            description="Refreshes the table"
            hasState="false"
            icon="refresh.gif"
            view="pa.iscde.metrics">
      </tool>
   </extension>
   <extension
         id="defaultMetrics"
         name="Default Metrics"
         point="pa.iscde.metrics.createMetric">
      <metric
            implementation="pa.iscde.metrics.internal.metrics.MethodMetric"
            name="Number of methods">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.StaticMethodsMetric"
            name="Number of static methods">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.PhysicalLinesMetric"
            name="Physical lines of code">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.LogicalLinesMetric"
            name="Logical lines of code">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.ClassesMetric"
            name="Number of classes">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.AttributesMetric"
            name="Number of attributes">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.PackagesMetric"
            name="Number of packages">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.InterfaceMetric"
            name="Number of interfaces">
      </metric>
      <metric
            implementation="pa.iscde.metrics.internal.metrics.LineTypeRatio"
            name="Line Types Ratio">
      </metric>
   </extension>

</plugin>
